@{
    ViewBag.Title = "Menu";
}

<div class="container mt-5">
    <h1 class="text-center mb-4">Menu de Productos</h1>

    <table class="table table-striped">
        <thead class="thead-dark">
            <tr>
                <th>Producto</th>
                <th>Descripcion</th>
                <th>Precio</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Cafe con Leche</td>
                <td>Cafe recien hecho con leche</td>
                <td>$4500</td>
            </tr>
            <tr>
                <td>Tostada con Palta</td>
                <td>Tostada con palta fresca</td>
                <td>$6000</td>
            </tr>
            <tr>
                <td>Sandwich</td>
                <td>Sandwich con jamon y queso</td>
                <td>$3000</td>
            </tr>
            <tr>
                <td>Jugo de Naranja Exprimido</td>
                <td>Jugo natural de naranja</td>
                <td>$4000</td>
            </tr>
            <tr>
                <td>Medialuna</td>
                <td>Medialuna clasica</td>
                <td>$1500</td>
            </tr>
        </tbody>
    </table>
</div>

<div class="container mt-5">
    <h2 class="text-center mb-4">Galeria de productos</h2>

    <div class="row">
        <div class="col-6 col-md-4 mb-3">
            <img src="/images/cafe.jpg" class="img-fluid" alt="Cafe con Leche">
        </div>
        <div class="col-6 col-md-4 mb-3">
            <img src="/images/palta.jpg" class="img-fluid" alt="Tostada con Palta">
        </div>
        <div class="col-6 col-md-4 mb-3">
            <img src="/images/queso.jpg" class="img-fluid" alt="Sandwich">
        </div>
        <div class="col-6 col-md-4 mb-3">
            <img src="/images/jugo.jpg" class="img-fluid" alt="Jugo de Naranja">
        </div>
        <div class="col-6 col-md-4 mb-3">
            <img src="/images/luna.webp" class="img-fluid" alt="Medialuna">
        </div>
    </div>
</div>
