@{
    ViewData["Title"] = "Contacto";
}
<body style="background-color: #9B7748;">
</body>
<section style="background-color: #785C38;">
<div class="container mt-5">
    <h1 class="text-center mb-4">
        <span class="material-symbols-outlined">
            bakery_dining
        </span> Contacto
    </h1>

    <div class="row justify-content-center mb-5">
        <div class="col-md-6">

            <form>
                <div class="mb-3">
                    <label for="nombre" class="form-label">Nombre</label>
                    <input type="text" class="form-control" id="nombre" required>
                </div>

                <div class="mb-3">
                    <label for="email" class="form-label">Correo electronico</label>
                    <input type="email" class="form-control" id="email" required>
                </div>

                <div class="mb-3">
                    <label for="mensaje" class="form-label">Mensaje</label>
                    <textarea class="form-control" id="mensaje" rows="5" required></textarea>
                </div>

                <div class="d-grid">
                    <button type="submit" class="btn btn-dark">Enviar mensaje</button>
                </div>
            </form>

        </div>
    </div>

    <div class="row justify-content-center mb-5">
        <div class="col-md-10">
            <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d22095.790806888235!2d-58.42543656398032!3d-34.59002133305697!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1ses-419!2sar!4v1745894880435!5m2!1ses-419!2sar"
                    width="1050" height="400" style="border:0;" allowfullscreen="" loading="lazy">
            </iframe>
        </div>
    </div>
</div>
