@{
    ViewData["Title"] = "Mi cafe Web";
}
<body style="background-color: #9B7748;"></body>
<div class="position-relative w-100" style="height: 90vh; background: url('/images/portada.jpg') no-repeat center center/cover;">

    <div class="d-flex flex-column justify-content-center align-items-center text-center h-100 text-white px-3">
        <h3 class="mb-3" style="font-style: italic;">
            Vivir al estilo tostado es elegir siempre lo mejor<br>sabor y pasion.<br><strong>Frescura.</strong><br><strong>Es compartir el momento perfecto.</strong>
        </h3>
        <h3 class="mb-4" style="font-style: italic;">con ingredientes que despiertan sonrisas y un equipo que<br><strong>pone el corazon en cada detalle.</strong></h3>

       
        <a href="/Home/Menu" class="btn btn-dark btn-lg">Ver menu</a>
    </div>


</div>
