@{
    ViewData["Title"] = "Testimonios";
}

<div class="container mt-5">
    <h2 class="text-center mb-4">Testimonios</h2>
    <ul class="list-group">
        <li class="list-group-item">
            <strong>Lucia Fernandez:</strong> El mejor cafe que probe en mi vida.
        </li>
        <li class="list-group-item">
            <strong>Martin Rios:</strong> Excelente calidad y atencion.
        </li>
        <li class="list-group-item">
            <strong>Florencia Perez:</strong> Una experiencia unica en cada taza.
        </li>
        <li class="list-group-item">
            <strong>Jose Lopez:</strong> El ambiente es muy acogedor y el cafe espectacular.
        </li>
        <li class="list-group-item">
            <strong>Carla Martinez:</strong> Me encanto, sin dudas lo recomiendo.
        </li>
    </ul>
</div>


<div class="mb-4">
    <h3 class="text-center">Galeria</h3>
    <div class="row g-3 mt-3 justify-content-center">
        <div class="col-md-4 d-flex justify-content-center">
            <img src="/images/r1.jpg" class="img-fluid rounded">
        </div>
        <div class="col-md-4 d-flex justify-content-center">
            <img src="/images/r2.jpg" class="img-fluid rounded">
        </div>
        <div class="col-md-4 d-flex justify-content-center">
            <img src="/images/r3.jpg" class="img-fluid rounded">
        </div>
        <div class="col-md-4 d-flex justify-content-center">
            <img src="/images/r4.jpg" class="img-fluid rounded">
        </div>
        <div class="col-md-4 d-flex justify-content-center">
            <img src="/images/r5.jpg" class="img-fluid rounded">
        </div>
    </div>
</div>
