@{
    ViewData["Title"] = "cafe de Origen";
}

<section class="container mt-5">
    <h1 class="text-center mb-4">cafe de Origen</h1>

    <div class="mb-5">
        <h4>01. El Origen</h4>
        <p>Nuestro cafe proviene de Piura, Peru, una región emergente en la producción de cafe de alta calidad. Cultivado por pequeños productores organizados en la Cooperativa Huasimal, este cafe refleja una tradición agricola ancestral, con un profundo respeto por la tierra y los ecosistemas.</p>
    </div>

    <div class="mb-5">
        <h4>02. Notas de Sabor</h4>
        <p>Frutal Naranja, Azucarado Tipo Panela, Especias Claras. Al molerlo, desprende una fragancia exquisitamente dulce, con notas que recuerdan al azúcar mascabo y sutiles especias claras. Esta intensidad inicial se desvanece rapidamente, dando paso a un aroma mas fresco, frutal y ligeramente especiado.</p>
    </div>

    <div class="mb-5">
        <h4>03. Ideal para metodo de Filtrado</h4>
        <p>Disfruta de un cafe equilibrado, de cuerpo ligero y textura cremosa. Su acidez media y sutil toque herbal realzan un delicioso sabor umami. Perfecto para filtrados en Chemex, prensa francesa o V60. Una experiencia unica en cada taza, ideal para los amantes del buen cafe.</p>
    </div>

    <hr class="my-5">

    <div class="mb-4">
        <h3 class="text-center">Galería</h3>
        <div class="row g-3 mt-3">
            <div class="col-md-4">
                <img src="/images/cafefq.webp" class="img-fluid rounded">
            </div>
            <div class="col-md-4">
                <img src="/images/cafq.webp" class="img-fluid rounded">
            </div>
            <div class="col-md-4">
                <img src="/images/cxfq.webp" class="img-fluid rounded">
            </div>
        </div>
    </div>

    <hr class="my-5">

    <div class="mb-5">
        <h4>Metodos de Extraccion</h4>
        <p>Experimenta con métodos como la prensa francesa, V60, Chemex o espresso para encontrar el que mejor resalte las notas del cafe.</p>

        <h4 class="mt-4">Ajusta la Molienda</h4>
        <p>La molienda debe ser adecuada para el metodo de preparacion. Un molido mas fino es ideal para espresso, mientras que uno mas grueso es mejor para la prensa francesa.</p>

        <h4 class="mt-4">Controlá la Temperatura</h4>
        <p>El agua debe estar entre 90-96 °C. Esto evita la sobre extraccion y ayuda a resaltar las notas delicadas. Usa agua filtrada, ya que el cloro y otros contaminantes afectan el sabor.</p>

        <h4 class="mt-4">Medi tus Ingredientes</h4>
        <p>Usa la proporción adecuada: 1 gramo de cafe por 16 de agua es una buena regla general. Para mayor precision, utiliza una balanza.</p>
    </div>
</section>
